#imageArray {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.image {
  padding: 0 10px 0 10px;
  width: 200px;
  height: 200px;
}

.image img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgrey;
  width: 200px;
  height: 200px;
}
